:root {
    --blanco: #F1FADA;
    --a-claro: #9AD0C2;
    --a-mid: #2D9596;
    --a-dark: #265073;
}

/*global*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
.sombra {
    -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.63);
    background-color: var(--blanco);
    padding: 2rem;   
    border-radius: 1rem;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--a-mid)0%,var(--blanco)100%) ;
}
/*typification*/
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.3rem;
}

h3 {
    font-size: 2.3rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/*/typification*/

/* /global */

/*títulos*/
.title span {
    font-size: 2rem;
}
/* /títulos*/
/*navegación*/
.nav-bg {
    background-color: var(--a-mid);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
}

.navegacion-principal a:hover {
    background-color: var(--a-claro);
    color: var(--a-dark);
    padding: auto;
}
/*/navegación*/
/*contacto*/
.h{
    color: black;
    line-height: 2;
    max-width: 80rem ;
    margin: 0 auto;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 10rem;
}
.contacto{
    color: black;
    line-height: 2;
    max-width: 80rem ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10rem;
}
/*footer*/
.footer p {
    text-align: center;
    color: var(--blanco);
    font-weight: normal;
    font-size: 1.8rem;
}

.footer span {
    text-transform: uppercase;
    font-weight: bold;
}
/*footer*/